@font-face {
  font-family: "Permanent_Marker";
  src: url("src/assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lilita_One";
  src: url("src/assets/fonts/Lilita_One/LilitaOne-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Anton";
  src: url("src/assets/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --color-1: #23b852;

  --color-font: #181818;
  --color-font2: rgb(255, 255, 255);
  --color-line: #7e7e7e;

  --color-font-secondary: #5c5c5c;

  --color-font-secondary2: #dddddd;

  --color-lines: #272727;
}

.print-cover {
  /*position: absolute;
  background-color: rgb(65, 65, 65);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;*/
}
/*@media print {*/

/*CONFIGURACIONES BASICAS DE LA TABLA CONTAINER*/
table td,
table th {
  border: none;
  padding: 0;
}
.print-container {
  padding: 10mm;
}
/*HEADER*/
.header {
  height: 25mm;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10mm; /*Container*/
  padding-bottom: 0;
  box-sizing: border-box;
}
.header-space {
  height: calc(25mm);
}
.print-menu .header-space {
  height: 20mm !important;
}

/*FOOTER*/
.footer {
  height: 8mm;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

  padding: 10mm; /*Container*/
  padding-top: 0;
  box-sizing: border-box;
}
.footer-space {
  height: calc(8mm);
}
.print-menu .footer-space {
  height: 20mm !important;
}
/*CONTENT*/
.content {
  display: block;
}

.break-page {
  break-before: page;
}
.table td,
.table th {
  border: 0.1mm solid var(--color-lines);
  padding-top: 1mm;
  padding-bottom: 1mm;
  padding-left: 1mm;
  padding-right: 1mm;
}
.table th {
  background-color: var(--color-lines);
  color: white;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
body {
  margin: 0;
  font-family: Arial;
  color: var(--color-font);
}
body * {
  font-size: 3mm;
}
.text-end {
  text-align: end;
}

.no-wrap {
  text-wrap: nowrap;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.company-container {
  display: flex;
  flex-direction: column;
  gap: 1mm;
  width: 70%;
}

.header-container .document-container {
  border: 0.1mm solid var(--color-lines);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2mm 4mm;
  gap: 1mm;
  text-align: center;
  height: fit-content;
}
.header-container .document-container .type {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3.6mm;
}
.header-container .title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3.6mm;
}
.header-container .subtitle {
  color: var(--color-font-secondary);
  margin-bottom: 1mm;
}
.header-container .info-label {
  font-weight: 600;
  width: 20mm;
  display: inline-block;
}
.document-container {
  width: 25%;
}
.border-none {
  border: none !important;
}
.customer {
  border: 0.1mm solid var(--color-lines);

  display: grid;
  gap: 1mm;
  grid-template-columns: 1fr 1fr;
  padding: 1mm 2mm;
}
.customer .info-label {
  font-weight: 600;
  width: 16mm;
  display: inline-block;
}
.double-grid {
  grid-column: span 2;
}
.image-header {
  max-width: 16mm;
  max-height: 16mm;
}
.company-wrapper {
  display: flex;
  gap: 4mm;
  width: 75%;
}
.company-wrapper > * {
  flex-shrink: 0;
}
.mb-document {
  margin-bottom: 2mm;
}
/*MENU*/

.menu-container {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  position: fixed;
}
.menu-wrapper {
  width: 100%;
  height: 100%;
}
.border-menu {
  width: calc(100% - 16mm);
  height: calc(100% - 16mm);
  border: 1.5mm solid var(--color-line);

  justify-content: center;
  align-items: center;
  display: flex;
}
.border-dot {
  width: calc(100% - 4mm);
  height: calc(100% - 4mm);
  border: 1mm dotted var(--color-line);
}
.menu-content {
  position: relative;
  z-index: 20;
  color: var(--color-font);
  padding: 0mm 20mm;
}
.menu-content * {
  font-size: 4mm;
}
.ex-text {
  font-family: "Permanent_Marker";
}
.company-name {
  font-size: 9mm;
  font-family: "Permanent_Marker";
  text-align: center;
  color: var(--color-1);

  line-height: 0.8;
}
.company-desc {
  font-family: "Permanent_Marker";
  text-align: center;
  color: var(--color-font-secondary);
  margin-bottom: 12mm;
}
.company-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3mm;
}
.company-img {
  max-height: 20mm;
}

.title-type {
  font-size: 7mm;
  font-family: "Permanent_Marker";
  text-align: center;
  color: var(--color-font-secondary);
  line-height: 0.8;
  padding: 0 5mm;
}
.type-container {
  break-before: page;
  page-break-before: always;

  break-inside: avoid;
}
.desc-type {
  font-family: "Permanent_Marker";
  text-align: center;
  color: var(--color-font-secondary2);
}
ul {
  padding-left: 4mm;
  margin: 0;
}
.types-container {
  flex-direction: column;
  gap: 12mm;
}
.products-wrapper {
  gap: 12mm;
}

.products {
  flex-direction: column;
  gap: 2mm;
  width: 100%;
  justify-content: center;
}
.product-title {
  font-size: 5.5mm;
  font-family: "Anton";
}
.product-desc {
  color: var(--color-font-secondary);
}
.dot-product {
  height: 2mm;
  width: 2mm;
  background-color: var(--color-font);
  margin-right: 3mm;
  margin-top: 3mm;

  border-radius: 999rem;
}
.product {
  justify-content: space-between;
  break-before: page;
  page-break-before: always;
  break-inside: avoid;
  gap: 4mm;
}
.product-wrapper {
}
.type-img-container {
  align-items: center;
}
.type-img {
  width: 65mm;
}
.product-price {
  font-size: 6.5mm;

  font-family: "Anton";
  color: var(--color-1);
}
.product-price-simbol {
  font-family: "Anton";
  color: var(--color-1);
}
.type-title-container {
  margin-bottom: 8mm;
}
.product-price-wrapper {
  text-wrap: nowrap;
}
.title-type-fielset {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 0.5mm solid var(--color-line);
  padding: 0;
  margin: 0;
}
.type-container:nth-child(even) .products-wrapper .products {
  order: 3;
}
/*}*/
