/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --color-1: #38a55a;
  --color-1-v2: #3bd46c;

  --color-2: #202020;

  --color-3: rgb(165, 165, 165);

  --color-w: white;
  --color-w-v2: rgb(248, 248, 248);
  --color-w-v3: rgb(233, 233, 233);

  --color-b: black;
  --color-b-v2: rgb(24, 24, 24);
  --color-b-v3: rgb(151, 151, 151);

  --color-d: rgb(255, 0, 0);
  --color-s: rgb(8, 255, 0);

  --color-d-rgb: 255, 0, 0;
  --color-s-rgb: 8, 255, 0;

  --br: 0.3rem;
  --br-v2: 1rem;
  --p-1: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-b-v2);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Poppins";

  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.big-icon .icon {
  transform: scale(1.3);
}
p {
  margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
