@import "./base.css";
label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.imp-label {
  color: var(--color-1-v3);
}
.gutter-form {
  --bs-gutter-y: 1rem;
  --bs-gutter-x: 2rem;
}
